:root {
    --primary-color: #0baff0;
    --secondary-color: #6074c6;
    --accent1-color: #00396b;
    --accent2-color: #232326;
    --heading-font: "Open Sans", open-sans;
    --body-font: "Roboto", roboto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    max-width: 1000px;
    grid-gap: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(208, 229, 255);
    flex-wrap: wrap;
    padding: 20px;
    grid-area: 1/3/1;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center
}

h1,
h2 {
    font-family: var(--heading-font);
    color: black;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    border-radius: 0.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    margin: 10px;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 175px;
}

.hero img {
    display: flex;
    width: 300px;
    grid-column: 1/2;
    margin-top: 40px;
    border-radius: 50%;
}

.hero h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    top: 10px;
    text-align: center;
    width: 100%;
    opacity: 0.7;
    padding: 16px;
    background-color: rgb(6, 49, 70);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
}

.history {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 1fr;
    grid-template-rows: 36px 1fr;
    position: absolute;
    top: 415px;
    max-width: 1000px;
    min-width: 800px;
}

.history h2 {
    text-align: center;
    grid-column: 1/6;
}

.history p {
    grid-column: 2/6;
    grid-row: 2/3;
    padding-left: 100px;
}

article {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 3px;
    padding-top: 8px;
    padding-right: 10px;
    color: black;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.hero article img {
    position: relative;
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--accent2-color);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin: 0;
    border-radius: 0.5rem;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr;
    grid-gap: 40px;
    margin-top: 100px;
}

.adventure img {
    width: 100px;
    height: auto;
    border-radius: 0.5rem;
}

.adventure h2 {
    grid-column: 1/6;
    align-self: center;
    text-align: center;

}

/*Contact Us*/

.contact {
    display: grid;
    grid-gap: 50px;
}

.information article {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 65px 1fr 1fr;
    padding: 1rem;
    height: fit-content;
    text-align: left;
    grid-gap: 10px;
    border: 3px solid var(--accent2-color);
    box-shadow: 3px 3px 3px black;
    background-color: var(--primary-color);
}

.information p {
    background-color: var(--accent1-color);
    border: 3px solid var(--accent2-color);
    box-shadow: 3px 3px 3px black;
    color: white;
}

.adress {
    height: 50px;
    padding: 1px;
}

.phone {
    grid-row: 2/3;
}

.email {
    grid-row: 3/4;
}

.information iframe {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    border: 3px solid var(--accent2-color);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px black
}

.employe {
    display: grid;
    text-align: center;
    width: 100px;
    grid-template-columns: 1fr 75px 1fr 75px 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin: auto;
    margin-top: 100px;
    background-color: var(--secondary-color);
    height: fit-content;
    width: fit-content;
    border: 3px solid var(--accent2-color);
}

.employe img {
    width: 200px;
    border: 3px solid var(--accent2-color);
    border-radius: 0.5rem;
}

.employe2 {
    grid-column: 3/4;
}

.employe3 {
    grid-column: 5/6;
}

.employe figcaption {
    background-color: var(--primary-color);
    border: 3px solid var(--accent2-color);
    border-radius: 0.5rem;
    color: black;
}

form {
    width: 600px;
    margin: auto;
    margin-top: 0.1px;
    padding: 1rem;
    border: 4px solid var(--accent2-color);
    border-radius: 0.5em;
    background-color: var(--primary-color);
    display: grid;
}

fieldset {
    display: grid;
    margin: 1rem;
    border: 3px solid var(--accent2-color);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    color: white;
    grid-gap: .5rem;
    padding: 1rem;
}

legend {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--accent1-color);
    border: 2px solid var(--accent2-color);
    border-radius: 0.5rem;
    color: white;
    font-size: 1.3rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: rgb(219, 219, 219);
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0.5rem;
    border: 3px solid var(--accent2-color);
    border-radius: 0.5rem;
    background-color: rgb(219, 219, 219);
    height: 50px;
    width: 100px;
    margin: auto;
}

button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.1rem 0;
}

.column3 {
    display: flex;
}