:root{
    --primary-color: rgb(5, 196, 221);
    --secondary-color: rgb(1, 37, 92)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    width: auto;
    background-color: var(--primary-color);
}

h1 {
    padding: 10px;
    color: var(--secondary-color);
    text-align: center;
    margin: 1rem;
}

form {
    width: 600px;
    margin: auto;
    padding: 1rem;
    border: 5px solid var(--secondary-color);
    border-radius: 0.5em;
    background-color: var(--primary-color);
    display: grid;
    color: var(--secondary-color);
}

fieldset {
    display: grid;
    margin: 1rem;
    border: 3px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    grid-gap: .5rem;
    padding: 1rem;
}

legend {
    text-align: center;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3rem;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right:1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: rgb(219, 219, 219);
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0.5rem;
    border: 3px solid var(--secondary-color);
    border-radius: 0.5rem;
    background-color: rgb(219, 219, 219);
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

footer {
    text-align: center;
    margin: 1rem;
    border-top: 2px solid var(--secondary-color);
    padding: 1rem;
    font-size: smaller;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.1rem 0;
}